{% extends 'base.html.twig' %}

{% block contenido %}
   <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Ver datos de profesional</h3>
  </div>
<div class="panel-body">

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profesional.id }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ profesional.apellidos }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ profesional.nombres }}</td>
            </tr>
            <tr>
                <th>Matricula</th>
                <td>{{ profesional.matricula }}</td>
            </tr>
            <tr>
                <th>Profesion</th>
                <td>{{ profesional.profesion }}</td>
            </tr>
        </tbody>
    </table>

    
            <a href="{{ path('profesional_index') }}" class="btn btn-primary" >Volver al INICIO</a>
       
            <a href="{{ path('profesional_edit', { 'id': profesional.id }) }}" class="btn btn-info">Editar datos</a>
        
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
       
    </div>
{% endblock %}
