{% extends 'base.html.twig' %}

{% block body %}
    <h1>Telefono list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Prioridad</th>
                <th>Numero</th>
                <th>Celular</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for telefono in telefonos %}
            <tr>
                <td><a href="{{ path('telefono_show', { 'id': telefono.id }) }}">{{ telefono.id }}</a></td>
                <td>{{ telefono.prioridad }}</td>
                <td>{{ telefono.numero }}</td>
                <td>{% if telefono.celular %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('telefono_show', { 'id': telefono.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('telefono_edit', { 'id': telefono.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('telefono_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
