{% extends 'base.html.twig' %}

{% block body %}
    <h1>CorreoElectronico list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Prioridad</th>
                <th>Direccion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for correoElectronico in correoElectronicos %}
            <tr>
                <td><a href="{{ path('correoelectronico_show', { 'id': correoElectronico.id }) }}">{{ correoElectronico.id }}</a></td>
                <td>{{ correoElectronico.prioridad }}</td>
                <td>{{ correoElectronico.direccion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('correoelectronico_show', { 'id': correoElectronico.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('correoelectronico_edit', { 'id': correoElectronico.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('correoelectronico_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
