{% extends 'base.html.twig' %}

{% block body %}
    <h1>CorreoElectronico</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ correoElectronico.id }}</td>
            </tr>
            <tr>
                <th>Prioridad</th>
                <td>{{ correoElectronico.prioridad }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ correoElectronico.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('correoelectronico_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('correoelectronico_edit', { 'id': correoElectronico.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
