{% extends 'base.html.twig' %}

{% block body %}
    <h1>Provincia list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for provincium in provincias %}
            <tr>
                <td><a href="{{ path('homepage_provincia_show', { 'id': provincium.id }) }}">{{ provincium.id }}</a></td>
                <td>{{ provincium.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('homepage_provincia_show', { 'id': provincium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('homepage_provincia_edit', { 'id': provincium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('homepage_provincia_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
