{% extends 'base.html.twig' %}

{% block body %}
    <h1>Email</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ email.id }}</td>
            </tr>
            <tr>
                <th>Prioridad</th>
                <td>{{ email.prioridad }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ email.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('email_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('email_edit', { 'id': email.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
